<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Amigo Secreto - Usuario</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
    <footer class="py-5 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">Copyright &copy; Autor: <a href="https://github.com/Tobarsitoo">Allan Tobar</a> - 2024</p>
        </div>
    </footer>
</body>

</html>