<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Amigo Secreto - Usuario</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <style>
        body {
            background-color: #ffffff;
        }

        .navbar {
            background-color: #f3f3f3;
        }

        .navbar-brand img {
            width: 220px;
            height: auto;
        }

        .navbar-nav .nav-link {
            color: #FF9100;
            font-weight: bold;
        }

        .navbar-nav .nav-link:hover {
            color: #2C3E50;
        }

        #logout-button {
            background-color: #00712D;
            color: #ffffff;
        }

        #logout-button:hover {
            background-color: #FF9100;
            color: #ffffff;
        }
    </style>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="/admin-dashboard">
                <img src="https://www.coopserp.com/wp1/wp-content/uploads/2024/04/Logo-grande-Coopserp-2019-e1721607356635.png"
                    alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/admin-dashboard">Usuarios</a></li>
                    <li class="nav-item"><a class="nav-link" href="/friends">Amigos Secretos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/roulette/rouletteAdmin">Ruleta</a></li>
                </ul>
            </div>
            <div>
                <button id="logout-button" class="btn btn-lg">Cerrar Sesión</button>
            </div>
        </div>
    </nav>

    <script>
        document.getElementById('logout-button').addEventListener('click', () => {
            fetch('/logout', {
                method: 'GET',
                credentials: 'same-origin'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/';
                    } else {
                        console.error('No se pudo cerrar sesión');
                    }
                })
                .catch(error => {
                    console.error('Error al cerrar sesión:', error);
                });
        });
    </script>
</body>

</html>