<!doctype html>
<html lang="es">

<head>
    <title>Formulario de Inscripci贸n</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-2">
                    <h2 class="heading-section"> Inscripci贸n Amigo Secreto </h2>
                    <p class="text-muted">Este formulario de inscripci贸n <strong>SOLO</strong> es v谩lido para
                        <strong>NOMBRADOS</strong>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="text-center mb-3">
                            <img src="https://www.coopserp.com/wp1/wp-content/uploads/2024/04/Logo-grande-Coopserp-2019-e1721607356635.png"
                                alt="Logo" class="logo" style="width: 70%; height: auto;">
                        </div>
                        <h3 class="text-center mb-4">Ingresa tus datos</h3>
                        <form id="cedulaForm">
                            <div class="form-group">
                                <label for="cedula">C茅dula</label>
                                <input type="number" class="form-control" id="cedula" placeholder="Ingrese su c茅dula">
                            </div>
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="fechaNacimiento">
                            </div>
                            <div class="form-group">
                                <label for="fechaExpedicion">Fecha de Expedici贸n</label>
                                <input type="date" class="form-control" id="fechaExpedicion">
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Validar</button>
                                <button type="button" class="btn btn-secondary rounded submit p-3 px-5"
                                    onclick="window.location.href='/'" style="
                                    margin-top: 31%;
                                ">Volver</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            // Manejo del formulario (Campos incompletos)
            $('#cedulaForm').on('submit', function (e) {
                e.preventDefault();
                const cedula = $('#cedula').val();
                const fechaNacimiento = $('#fechaNacimiento').val();
                const fechaExpedicion = $('#fechaExpedicion').val();

                if (!cedula || !fechaNacimiento || !fechaExpedicion) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Campos Incompletos',
                        text: 'Por favor completa todos los campos.',
                        confirmButtonColor: '#D9534F',
                        confirmButtonText: 'Aceptar'
                    });
                    return;
                }

                // URL de la API renderizada desde la ruta
                const apiUrl = `<%= apiUrl %>/nombre/${cedula}`;

                // Validaci贸n con la API (Obtener datos)
                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'No se encontr贸 informaci贸n asociada a esta c茅dula.',
                                confirmButtonColor: '#D9534F',
                                confirmButtonText: 'Aceptar'
                            });
                        } else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Datos Validados',
                                text: 'C茅dula validada correctamente. Procediendo a la inscripci贸n...',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                enviarDatosInscripcion(data);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error en el Servidor',
                            text: 'Hubo un problema al validar la c茅dula.',
                            confirmButtonColor: '#D9534F',
                            confirmButtonText: 'Intentar de nuevo'
                        });
                    });
            });

            // Guardado de datos (Base de datos: coopserp_asecreto)
            function enviarDatosInscripcion(datos) {
                const data = {
                    apiCedula: datos.asociado.CEDULA,
                    apiFechaNa: $('#fechaNacimiento').val(),
                    apiNombre: datos.asociado.NOMBRES,
                    apiAgencia: datos.asociado.AGENCIA,
                    apiCuenta: datos.asociado.CUENTA,
                    apiCorreo: datos.asociado.CORREO,
                    apiGenero: datos.asociado.GENERO
                };

                const RETIRO = datos.asociado.RETIRO;

                if (RETIRO === '0') {
                    fetch('/register', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(result => {
                            if (result.error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error de Registro',
                                    text: result.error,
                                    confirmButtonColor: '#D9534F',
                                    confirmButtonText: 'Aceptar'
                                });
                            } else {
                                Swal.fire({
                                    icon: 'success',
                                    title: '隆Inscripci贸n Exitosa!',
                                    text: result.message,
                                    confirmButtonColor: '#067063',
                                    confirmButtonText: 'Aceptar'
                                }).then(() => {
                                    window.location.href = '/';
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error al Guardar',
                                text: 'No se pudo completar la inscripci贸n.',
                                confirmButtonColor: '#D9534F',
                                confirmButtonText: 'Intentar de nuevo'
                            });
                        });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al inscribirse',
                        text: 'Usted no se encuentra activo.',
                        confirmButtonColor: '#D9534F',
                        confirmButtonText: 'Intentar de nuevo'
                    });
                }
            }
        });
    </script>
</body>

</html>