table.dataTable {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table.dataTable th,
table.dataTable td {
    text-align: center;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #ff9100;
    color: white;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #00712d;
}

.dataTables_length {
    padding-bottom: 18px;
}

.table-hover tbody tr:hover {
    background-color: #d1e9f6;
}

.table thead th {
    background-color: #00712d;
    color: white;
    font-weight: bold;
    border: none;
}